@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* CSS HEX */
		--van-dyke: #3c3229ff;
		--coyote: #776352ff;
		--desert-sand: #edc6a4ff;
		--almond: #f6e3d2ff;
		--aquamarine: rgb(47, 192, 149);
	}

	html {
		--bg-color: var(--almond);
		--fg-color: var(--desert-sand);
		--text-color: black;
		--accent-color: var(--aquamarine)
	}

	html.dark {
		--bg-color: var(--van-dyke);
		--fg-color: var(--coyote);
		--text-color: white;
		--accent-color: var(--aquamarine)
	}

	#root {
		width: 100dvw;
		height: 100dvh;
		color: var(--text-color);
		background-color: var(--bg-color);
	}

	p > a {
		color: var(--accent-color)
	}

	button {
		color: white;
		background-color: var(--accent-color);
	}

	* {
		transition: all 0.2s;
	}
}